body {
    background: #EFF3F5;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #FFFFFF;
}
.nav__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.nav__header > a {
    display: block;
    text-decoration: none;
    font-size: 30px;
    color: #448899;
    padding: 12px 0;
}
.nav__menu {
    list-style: none;
    display: flex;
    color: #666666;
}
.nav__item {
    margin: auto  10px;
    padding: 19px 0;
    cursor: pointer;
}

.section {
    background: url("../img/welcome\ 1.png") no-repeat top 80% right 12%, linear-gradient(135deg, #AADDEE 0%, #66AABB 100%);
    height: 320px;
    margin-top: 54px;
}
.section__wrap {
    max-width: 1200px;
    margin: 0 auto;
}
.section__title {
    font-size: 28px;
    color: #F8F8F8;
    text-shadow: 0 0 3px #AABBCC;
    padding-top: 85px;
    margin: 0;
}
.section__description {
    color: #F8F8F8;
    margin-top: 15px;
}
.section__search-wrap {
    display: flex;

    border-radius: 5px;
    margin-top: 25px;
}
.section__search-text {
    padding: 15px;
}
.section__search-text::placeholder {
    color: #757575;
}
.section__search-btn {
    /* display: inline-block; */
    background: url("../img/icon_search.png") no-repeat center center, #448899;
    height: 30px;
    width: 30px;
    padding: 8px 15px;
    box-shadow: none;
    cursor: pointer;
}

.main {
    max-width: 1200px;
    padding: 55px 0;
    margin: 0 auto;
}
.attractions {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
}
.attraction-wrap {
    display: grid;
    grid-template-areas: 
        "img img"
        "title title"
        "mrt category";
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}
.attraction-img {
    grid-area: img;
    
    display: block;

    width: 100%;
    padding-bottom: 60%;
    /* height: 100%; */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.attraction-title {
    grid-area: title;
    color: #757575;
    font-weight: bold;
    padding: 12px 10px;
}
.attraction-mrt {
    grid-area: mrt;
    color: #757575;
    padding: 12px 10px;
}
.attraction-category {
    grid-area: category;
    color: #757575;
    padding: 12px 10px;
    justify-self: end;
}
.attractions-observer {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #448899;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
    margin: 15px auto;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.footer {
    background :#757575;
}
.footer__copyright {
    color: #FFFFFF;
    text-align: center;
    padding: 45px 0;
}