h1, p, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

textarea, input[type="button"], input[type="submit"], input[type="reset"], input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}