<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁 - 台北一日遊</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="nav">
        <div class="nav__container">
            <h1 class="logo"><a href="/">台北一日遊</a></h1>
            <ul class="menu">
                <li class="menu__item"><a data-menu="booking" href="/">預定行程</a></li>
                <li class="menu__item menu__item--inactive"><a data-menu="login" href="/" id="item-login">登入/註冊</a></li>
                <li class="menu__item menu__item--inactive"><a data-menu="logout" href="/" id="item-logout">登出系統</a></li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="header__container">
            <div class="header__slogan">
                <p>輕鬆享受台北一日悠閒</p>
                <p>探索每個角落，體驗城市的深度旅遊行程</p>
            </div>
            <div class="search-container">
                <input class="search-container__text" type="search" name="" placeholder="輸入景點名稱查詢">
                <input class="search-container__btn" type="button" value="">
            </div>
        </div>
    </div>
    <div class="main">
        <ul class="attractions"></ul>
        <div class="attractions__observer attractions__observer--animation"></div>
    </div>
    <div class="user-wrap">
        <form class="user-container" id="user-login">
            <h3>登入會員帳號</h3>
            <div class="user__verify-item" data-verify="login">
                <input type="email" name="email" placeholder="輸入電子信箱" id="login-email">
                <label for="login-email">輸入電子信箱</label>
                <div class="user__err-message">
                    <span></span>
                </div>
            </div>
            <div class="user__verify-item" data-verify="login">
                <input type="password" name="password" placeholder="輸入密碼" id="login-password">
                <label for="login-password">輸入密碼</label>
                <div class="user__err-message">
                    <span></span>
                </div>
            </div>
            <input type="submit" value="登入帳戶">
            <div class="user__err-message">
                <span id="login-message"></span>
            </div>
            <a>還沒有帳戶？點此註冊</a>
            <img class="user__close" src="/static/img/icon_close.png" alt="">
        </form>
        <form class="user-container" id="user-signup">
            <h3>註冊會員帳號</h3>
            <div class="user__verify-item" data-verify="signup">
                <input type="text" name="name" placeholder="輸入姓名" id="signup-name">
                <label for="signup-name">輸入姓名</label>
                <div class="user__err-message">
                    <span></span>
                </div>
            </div>
            <div class="user__verify-item" data-verify="signup">
                <input type="email" name="email" placeholder="輸入電子郵件" id="signup-email">
                <label for="signup-email">輸入電子郵件</label>
                <div class="user__err-message">
                    <span></span>
                </div>
            </div>
            <div class="user__verify-item" data-verify="signup">
                <input type="password" name="password" placeholder="輸入密碼" id="signup-password">
                <label for="signup-password">輸入密碼</label>
                <div class="user__err-message">
                    <span></span>
                </div>
            </div>
            <input type="submit" value="註冊新帳戶">
            <div class="user__err-message">
                <span id="signup-message">XXXX</span>
            </div>
            <a>已經有帳戶了？點此登入</a>
            <img class="user__close" src="/static/img/icon_close.png" alt="">
        </form>
    </div>
    <div class="footer">
        <p class="copyright">COPYRIGHT © 2021 台北一日遊</p>
    </div>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/index.js"></script>
</body>
</html>