<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>台北一日遊</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <div class="nav">
        <div class="nav__wrap">
            <h1 class="nav__header"><a href="index.html">台北一日遊</a></h1>
            <ul class="nav__menu">
                <li><a class="nav__item">預定行程</a></li>
                <li><a class="nav__item">登入/註冊</a></li>
            </ul>
        </div>
    </div>
    <div class="section">
        <div class="section__wrap">
            <h2 class="section__title">輕鬆享受台北一日悠閒</h2>
            <p class="section__description">探索每個角落，體驗城市的深度旅遊行程</p>
            <div class="section__search-wrap">
                <input class="section__search-text" type="text" name="" id="" placeholder="輸入景點名稱查詢">
                <!-- <a class="section__search-btn"></a> -->
                <input class="section__search-btn" type="button" value="">
            </div>
        </div>
    </div>
    <div class="main">
        <ul class="attractions">
        </ul>
        <div class="attractions-observer"></div>
    </div>
    <div class="footer">
        <p class="footer__copyright">COPYRIGHT © 2021 台北一日遊</p>
    </div>
    <script src="/static/js/index.js"></script>
</body>
</html>