<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>訂單資訊 - 台北一日遊</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/thankyou.css">
</head>
<body>
    <div class="nav">
        <div class="nav__container">
            <h1 class="logo"><a href="/">台北一日遊</a></h1>
            <ul class="menu">
                <li class="menu__item"><a data-menu="booking" href="/">預定行程</a></li>
                <li class="menu__item menu__item--inactive"><a data-menu="login" href="/" id="item-login">登入/註冊</a></li>
                <li class="menu__item menu__item--inactive"><a data-menu="logout" href="/" id="item-logout">登出系統</a></li>
            </ul>
        </div>
    </div>
    <div class="main beforeLoad">
        <div class="shopping-bag__container">
            <img src="../static/img/icon_accept.png" alt="">
            <div class="shopping-bag__error-area">
                <h3>無此訂單！</h3>
            </div>
            <div class="shopping-bag__success-area">
                <h3>
                    <span>非常感謝您的預定！</span>
                    <span>您的訂單已經成立！</span>
                </h3>
                <p>訂單編號：<span id="order-number"></span></p>
                <div class="trip-info">
                    <img class="attraction-img">
                    <p class="attraction-name info-title"></p>
                    <p class="trip-date info-subtitle">日期：<span></span></p>
                    <p class="trip-time info-subtitle">時間：<span></span></p>
                    <p class="attraction-address info-subtitle">地點：<span></span></p>
                    <p class="contact-name info-subtitle">聯絡姓名：<span></span></p>
                    <p class="contact-email info-subtitle">連絡信箱：<span></span></p>
                    <p class="contact-phone info-subtitle">手機號碼：<span></span></p>
                    <p class="info-msg info-subtitle">提醒：<span>於行程前三至五天，系統會依據您的聯絡信箱寄發通知</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="user-wrap">
        <form class="user-container" id="user-login">
            <h3>登入會員帳號</h3>
            <div class="user__verify-item" data-verify="login">
                <input type="email" name="email" placeholder="輸入電子信箱" id="login-email">
                <label for="login-email">輸入電子信箱</label>
                <div class="user__input-message">
                    <span></span>
                    <img src="/static/img/icon_error.png" alt="" class="user__input-error">
                    <img src="/static/img/icon_accept.png" alt="" class="user__input-accept">
                </div>
            </div>
            <div class="user__verify-item" data-verify="login">
                <input type="password" name="password" placeholder="輸入密碼" id="login-password">
                <label for="login-password">輸入密碼</label>
                <img src="/static/img/icon_eye.png" class="user__eye" alt="">
                <img src="/static/img/icon_eye_close.png" class="user__eye-close" alt="">
                <div class="user__input-message">
                    <span></span>
                    <img src="/static/img/icon_error.png" alt="" class="user__input-error">
                    <img src="/static/img/icon_accept.png" alt="" class="user__input-accept">
                </div>
            </div>
            <input type="submit" value="登入帳戶">
            <div class="user__err-message">
                <img src="/static/img/icon_error.png" alt="" class="user__message-error">
                <img src="/static/img/icon_accept.png" alt="" class="user__message-accept">
                <span id="login-message"></span>
            </div>
            <a>還沒有帳戶？點此註冊</a>
            <img class="user__close" src="/static/img/icon_close.png" alt="">
        </form>
        <form class="user-container" id="user-signup">
            <h3>註冊會員帳號</h3>
            <div class="user__verify-item" data-verify="signup">
                <input type="text" name="name" placeholder="輸入姓名" id="signup-name">
                <label for="signup-name">輸入姓名</label>
                <div class="user__input-message">
                    <span></span>
                    <img src="/static/img/icon_error.png" alt="" class="user__input-error">
                    <img src="/static/img/icon_accept.png" alt="" class="user__input-accept">
                </div>
            </div>
            <div class="user__verify-item" data-verify="signup">
                <input type="email" name="email" placeholder="輸入電子郵件" id="signup-email">
                <label for="signup-email">輸入電子郵件</label>
                <div class="user__input-message">
                    <span></span>
                    <img src="/static/img/icon_error.png" alt="" class="user__input-error">
                    <img src="/static/img/icon_accept.png" alt="" class="user__input-accept">
                </div>
            </div>
            <div class="user__verify-item" data-verify="signup">
                <input type="password" name="password" placeholder="輸入密碼" id="signup-password">
                <label for="signup-password">輸入密碼</label>
                <img src="/static/img/icon_eye.png" class="user__eye" alt="">
                <img src="/static/img/icon_eye_close.png" class="user__eye-close" alt="">
                <div class="user__input-message">
                    <span></span>
                    <img src="/static/img/icon_error.png" alt="" class="user__input-error">
                    <img src="/static/img/icon_accept.png" alt="" class="user__input-accept">
                </div>
            </div>
            <input type="submit" value="註冊新帳戶">
            <div class="user__err-message">
                <img src="/static/img/icon_error.png" alt="" class="user__message-error">
                <img src="/static/img/icon_accept.png" alt="" class="user__message-accept">
                <span id="signup-message"></span>
            </div>
            <a>已經有帳戶了？點此登入</a>
            <img class="user__close" src="/static/img/icon_close.png" alt="">
        </form>
    </div>
    <div class="footer">
        <p class="copyright">COPYRIGHT © 2021 台北一日遊</p>
    </div>
    <script type="module" src="/static/js/common.js"></script>
    <script type="module" src="/static/js/thankyou.js"></script>
</body>
</html>